$color-orange:#f6881f;
$color-blue:#0e76bc;
$color-green:#035b31;
$color-red:#af0b2b;


*
{
	margin:0;
	padding:0;
}

body 
{
	font-family:"DDT", sans-serif;
	font-size:16px;
	-webkit-font-smoothing:antialiased;
}

a 
{
	color:#0e76bc;
	text-decoration:none;

	&:hover 
	{
		text-decoration:underline;
	}
}

label 
{
	font-weight:400;
	width:165px;
	padding-right:10px;
	float:left;
	clear:left;

	.form-required
	{
		color:#b61239;
	}
}

.description 
{
	display:none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
{
	background-color:rgba(255,255,255,0.85);
	border:1px solid #ccc;
	padding:0 5px!important;
	line-height:24px;
	font-size:15px;
	font-weight:400;
	width:200px;
	border-radius:6px;
	color:#666;
	font-family:"DDT", sans-serif;
	box-sizing: border-box;
}
.form-textarea-wrapper
{
	width: 200px;
	display: inline-block;
}
textarea
{
	background-color:rgba(255,255,255,0.85);
	border:1px solid #ccc;
	padding:0 5px!important;
	font-size:15px;
	font-weight:400;
	width:100%;
	border-radius:6px;
	color:#666;
	font-family:"DDT", sans-serif;
	box-sizing:initial;
}

input[type=submit]
{
	background-color:#bb1745;
	border:0;
	border-radius:9px;
	padding:13px;
	color:white;
	font-family:"DDT", sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
	appearance: none;
	-webkit-appearance: none;
}

.form-actions
{
	margin-left:190px;
}

.clearfix 
{
	clear:both;
}

#page-wrapper
{
	overflow: hidden;
}

#block-system-main
{
	line-height:160%;

	p 
	{
		margin-bottom:0.8em;
	}

	ul, ol 
	{
		margin:10px 0 10px 30px;
	}

	img 
	{
		max-width:100%;
	}

	h2 
	{
		font-weight:bold;
		text-align:center;
		padding-top:25px;
		background:url(../images/seasons-footer.png) no-repeat center top;
		margin:15px 0;
	}

	h3 
	{
		font-weight:500;
		margin:10px 0;
	}

	.left 
	{
		float:left;
		width:48%;
		margin-right:4%;
	}

	.right
	{
		float:right;
		width:48%;
	}
}

#navigation
{
	position: relative;
	box-shadow: 0 2px 10px rgba(0,0,0,0.75);
	z-index: 1;
}

#navigation,
#widgets,
#footer
{
	clear:left;

	& > div 
	{
		width:100%;
		max-width:1200px;
		margin:0 auto;

		& > div 
		{
			padding-left:20px;
			padding-right:20px;
		}
	}
}

.region-navigation
{
	float: right;
}

#logo 
{
	float:left;
	display:block;
	padding: 19px 0;
	
	img 
	{
		vertical-align:middle;
		width:214px;
		max-width:100%;
	}
	
	&
	{
		@media screen and (max-width: 840px)
		{
			line-height: 98px;
			padding: 0;
			
			img
			{
				width: auto;
				height: 58px;
			}
		}
	}
}

#block-system-main-menu
{
	float:left;

	.content > ul 
	{
		list-style:none;

		& > li 
		{
			list-style:none;
			float: left;
			padding:0;
			margin:0;
			border-left: 2px solid white;

			& > a,
			& > .nolink
			{
				text-transform:uppercase;
				font-weight:500;
				font-size:18px;
				color:black;
				text-decoration:none;
				padding:0 25px;
				display:block;
				min-width:42px;
				line-height: 135px;

				&.facebook,
				&:hover.facebook
				{
					font-size:0;
					color:transparent;
					width:30px;
					min-width:0;
					display:block;
					background:url(../images/facebook.png?v=2) no-repeat center center;
				}
				&:hover
				{
					&.facebook
					{
						background:black url(../images/facebook-white.png?v=2) no-repeat center center;
					}
				}
			}
			&:nth-child(1):hover
			{
				& > a,
				& > .nolink,
				& > ul
				{
					background-color: $color-orange;
					color: white;
				}
			}
			&:nth-child(2):hover
			{
				& > a,
				& > .nolink,
				& > ul
				{
					background-color: $color-blue;
					color: white;
				}
			}
			&:nth-child(3):hover > a
			{
				background-color: $color-green;
				color: white;
			}
			&:nth-child(4):hover > a
			{
				background-color: $color-red;
				color: white;
			}

			&:hover
			{
				& > ul 
				{
					display:block;
				}
			}

			& > ul 
			{
				display:none;
				position:absolute;
				top:100%;
				left:0;
				right: 0;
				z-index:1000;
				background-color:white;
				list-style:none;
				padding: 40px 10%;
				font-size: 15px;
				box-shadow: 0 2px 8px rgba(0,0,0,0.5);
				
				&:before
				{
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					height: 10px;
					background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
				}

				& > li 
				{
					list-style:none;
					margin:0;
					padding:0;
					width: 25%;
					float: left;

					a 
					{
						display:block;
						line-height:normal;
						color:white;
						text-decoration:none;
						padding:10px 10px;
						font-weight: bold;

						&:hover
						{
							text-decoration: underline;
						}
					}
					ul, li
					{
						list-style: none;
					}
					li
					{
						margin: 0;
						padding: 0 0 0 32px;
					}
				}
				
				ul a
				{
					font-weight: normal;
				}
			}
			&.first > ul > li
			{
				width: 33.3333%;
				text-align: center;
				
				@media screen and (max-width: 840px)
				{
					width: auto;
					text-align: left;
				}
			}
		}
	}
	
	@media screen and (max-width: 960px)
	{
		.content > ul > li
		{
			border-left: 0;

			& > a,
			& > .nolink
			{
				padding: 0 15px;
			}
		}
	}
	@media screen and (max-width: 840px)
	{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		height: auto;
		background: white;
		box-shadow: 0 4px 8px rgba(0,0,0,0.5);
		
		&:before
		{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 8px;
			background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
			z-index: 1;
		}
		
		.content > ul > li
		{
			float: none;
			border-bottom: 2px solid black;
			
			&.last
			{
				border-bottom: 0;
			}
			& > a,
			& > .nolink
			{
				line-height: normal;
				padding: 15px;
				position: relative;
			}
			&.expanded > .nolink:after
			{
				content: "";
				display: block;
				position: absolute;
				right: 15px;
				top: 50%;
				width: 0;
				height: 0;
				margin-top: -5px;
				border-top: 10px solid black;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}
			&.expanded.open > .nolink:after
			{
				border-top: 0;
				border-bottom: 10px solid black;
			}
			&:hover > ul
			{
				display: none;
			}
			&.open > ul
			{
				display: block;
			}
			& > ul
			{
				position: static;
				padding: 0 0 8px 0;
				box-shadow: none;
				background: none !important;
				
				&:before
				{
					display: none;
				}
				& > li
				{
					width: auto;
					float: none;
					
					a
					{
						color: black;
						font-weight: 500;
						padding: 10px 15px;
					}
				}
				ul a
				{
					font-weight: 300;
				}
			}
		}
	}
}
@media screen and (max-width: 840px)
{
	.menu-open #block-system-main-menu
	{
		display:block;
	}
}

.block--header-facebook
{
	float: left;
	
	.facebook
	{
		display: block;
		line-height: 135px;
		padding-left: 20px;
		
		img
		{
			vertical-align: middle;
		}
		&
		{
			@media screen and (max-width: 840px)
			{
				line-height: 98px;
			}
		}
	}
}
.block--mobile-menu-button
{
	display:none;
	margin-right:10px;
	float: left;
	
	.content a
	{
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		line-height: 98px;
	}
	
	&
	{
		@media screen and (max-width: 840px)
		{
			display:block;
		}
	}
}

#header 
{
	img
	{
		display:block;
		width:100%!important;
		height:auto!important;
	}

	.block 
	{
		position:relative;
		overflow:hidden;
	}
}

#footer
{
	background-color: #231f20;
	color: white;
	padding: 30px 0;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	
	&:after
	{
		content: "";
		display: block;
		clear: both;
	}
}
#copyright
{
	float: right;
	clear: right;
	font-size:11px;
	
	&
	{
		@media screen and (max-width: 540px)
		{
			float: none;
			text-align: center;
		}
	}

	span 
	{
		font-family:sans-serif;
	}
}
#block-menu-menu-footer-menu
{
	float: right;
	
	&
	{
		@media screen and (max-width: 540px)
		{
			float: none;
			width: 270px;
			margin: 0 auto;
		}
	}
	
	.content > ul
	{
		list-style:none;
		display:inline-block;
		margin-bottom:20px;
		margin-top:20px;
		text-align:center;

		li 
		{
			list-style:none;
			padding:0;
			margin:0;
			display:inline-block;
			vertical-align: top;

			a 
			{
				display:inline-block;
				padding:0 7px 0 12px;
				margin:0;
				border-left:1px solid white;
				line-height:100%;
				font-size:14px;
				text-transform:uppercase;
				text-decoration:none;
				color:white;
				vertical-align: middle;

				&:hover
				{
					text-decoration:underline;
				}
			}
			.facebook
			{
				font-size: 0;
				color: transparent;
				width: 20px;
				height: 20px;
				background: url(../images/facebook-footer-white.png) no-repeat center center;
				border: 0;
				padding-left: 0;
			}

			&.first a 
			{
				border-left:0;
			}
		}
	}
}
.block--footer-info
{
	float: left;
	font-size:15px;
	width: 215px;
	
	img
	{
		display: block;
		margin-bottom:20px;
	}
	&
	{
		@media screen and (max-width: 540px)
		{
			float: none;
			width: auto;
			text-align: center;
			
			img
			{
				display: inline-block;
			}
		}
	}
}

body.page-say-work,
body.node-type-photo-album,
body.page-user
{
	#page-title
	{
		background:black;
		color:white;
		text-align:center;
		padding-top:22px;
		padding-bottom:22px;
		font-size:36px;
		font-weight:500;
	}

	#block-system-main
	{
		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
			}
		}
	}
}


body.page-node.node-type-page,
body.node-type-webform
{
	#page-title
	{
		display:none;
	}

	#main-wrapper
	{
		& > div 
		{
			width:auto;
			max-width:none;
			margin:0;

			& > div 
			{
				padding-left:0;
				padding-right:0;
			}
		}
	}

	#block-system-main > .content > div > *
	{
		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
			}
		}

		&.field-name-title
		{
			background:black;
			color:white;
			text-align:center;
			padding-top:22px;
			padding-bottom:22px;

			h1
			{
				font-size:36px;
				font-weight:500;
				line-height:120%;
			}
		}
		&.field-name-field-title-description
		{
			background:black;
			color:white;
			text-align:center;
			font-size:18px;
			font-weight:400;
			padding-bottom:22px;
			margin-top:-10px;
			line-height:normal;
		}

		&.field-name-body 
		{
			padding-top:20px;
		}
	}
}
body.page-node.node-type-page .field-name-body
{
	margin-bottom:20px;
	overflow:hidden;
}

.front #block-system-main
{
	display: none;
}

.homepage-services-menu
{
	border-top: 2px solid white;
	
	&:after
	{
		content: "";
		display: block;
		clear: both;
	}
	ul
	{
		display: table;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		
		@media screen and (max-width: 840px)
		{
			display: block;
			position: relative;
		}
	}
	li
	{
		width: 25%;
		display: table-cell;
		vertical-align: middle;
		height: 84px;
		border-right: 2px solid white;
		cursor: pointer;
		position: relative;
		
		@media screen and (max-width: 840px)
		{
			display: block;
			float: left;
			width: 50%;
			border-right: 0;
			border-bottom: 2px solid white;
			height: 92px;
			box-sizing: border-box;
			
			&.service-orange,
			&.service-green
			{
				border-right: 2px solid white;
			}
		}
	}
	a
	{
		display: block;
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 1.25em;
		line-height: 1.2;
		padding: 0 25px;
		
		&:hover
		{
			text-decoration: none;
		}
		&
		{
			@media screen and (max-width: 840px)
			{
				position: absolute;
				top: 50%;
				left: 10px;
				right: 10px;
				padding: 0 !important;
				transform: translateY(-50%);
			}
		}
	}
	.active:after
	{
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -24px;
		width: 0;
		height: 0;
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-top: 20px solid $color-orange;
		
		&
		{
			@media screen and (max-width: 840px)
			{
				display: none;
			}
		}
	}
	.service-orange
	{
		background-color: $color-orange;
		
		&:after
		{
			border-top-color: $color-orange;
		}
	}
	.service-blue
	{
		background-color: $color-blue;
		
		&:after
		{
			border-top-color: $color-blue;
		}
		
		a
		{
			padding: 0 50px;
		}
	}
	.service-green
	{
		background-color: $color-green;
		
		&:after
		{
			border-top-color: $color-green;
		}
	}
	.service-red
	{
		background-color: $color-red;
		border-right: 0;
		
		&:after
		{
			border-top-color: $color-red;
		}
	}
}

.view-homepage-services
{
	.views-row
	{
		display:none;
		
		&.active
		{
			display: block;
		}

		h2 
		{
			text-transform:uppercase;
			font-size:1.75em;
			margin-bottom:20px;
			line-height:1.25;
		}

		ul 
		{
			list-style:none;
		}

		li 
		{
			padding-left:35px;
			text-align:left;
			list-style:none;
			line-height:160%;

			a 
			{
				color:white;
				text-decoration:underline;

				&:hover 
				{
					text-decoration:underline;
				}
			}

			strong 
			{
				font-weight:500;
			}
		}
		
		& > div > div
		{
			display: table;
			width: 100%;
		}
		
		.views-field-nothing
		{
			display: table-cell;
			width: 50%;
			padding: 25px;
			vertical-align: middle;
			
			& > div
			{
				max-width: 460px;
				margin: 0 auto;
			}
			&
			{
				@media screen and (max-width: 720px)
				{
					display: block;
					width: auto;
				}
			}
		}
		.learn-more
		{
			color: white;
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			min-width: 120px;
			padding: 8px 30px;
			border-radius: 5px;
			font-weight: bold;
			line-height: 1;
			margin-top: 1.25em;
			text-decoration: none;
			font-size: 15px;
			background-color: $color-orange;
		}
		.views-field-field-background-image
		{
			display: table-cell;
			width: 50%;
			
			img
			{
				display: block;
				width: 100%;
				height: auto;
				box-shadow: 0 0 11px rgba(0,0,0,0.15) inset;
			}
			&
			{
				@media screen and (max-width: 720px)
				{
					display: block;
					width: auto;
				}
			}
		}

		.views-field-body 
		{
			font-size:18px;
			margin-bottom:10px;

			p 
			{
				margin-bottom:0.8em;
			}
		}

		&.service-orange
		{
			h2
			{
				color: $color-orange;
			}
		}
		&.service-blue
		{
			h2
			{
				color:$color-blue;
			}
			.learn-more
			{
				background-color: $color-blue;
			}
		}
		&.service-green
		{
			direction: rtl;
			
			h2
			{
				color:$color-green;
			}
			.learn-more
			{
				background-color: $color-green;
			}
			.views-field-nothing
			{
				direction: ltr;
			}
			.views-field-field-background-image > div
			{
				padding-right: 2px;
			}
		}
		&.service-red
		{
			direction: rtl;
			
			h2
			{
				color:$color-red;
			}
			.learn-more
			{
				background-color: $color-red;
			}
			.views-field-nothing
			{
				direction: ltr;
			}
			.views-field-field-background-image > div
			{
				padding-right: 2px;
			}
		}
	}
}


body.services
{
	.view-header h1
	{
		background:black;
		color:white;
		text-align:center;
		padding-top:22px;
		padding-bottom:22px;
		font-size:36px;
		font-weight:500;
		border-bottom:2px solid white;
	}
	#page-title
	{
		background:black;
		color:white;
		text-align:center;
		padding: 22px 25px;
		font-size:36px;
		font-weight:500;
		border-top: 2px solid white;
	}
	&.service-orange
	{
		#page-title
		{
			background:$color-orange;
		}
	}
	&.service-blue
	{
		#page-title
		{
			background:$color-blue;
		}
	}
	&.service-green
	{
		#page-title
		{
			background:$color-green;
		}
	}
	&.service-red
	{
		#page-title
		{
			background:$color-red;
		}
	}
}

#block-views-team-members-block
{
	.views-row 
	{
		clear:both;
		padding:60px 0;
		border-top:1px solid #ccc;
		overflow:hidden;
	}

	h2 
	{
		background:none;
		padding-top:0;
		text-align:left;
		margin:0;
		font-size:24px;
		font-weight:bold;
	}

	.views-field-field-photo img 
	{
		float:left;
		border-radius:10px;
		margin-right:20px;
	}

	.views-field-title,
	.views-field-body
	{
		padding-left:320px;
	}

	.views-field-title
	{
		h2 
		{
			padding-left:57px;
		}

		p, br 
		{
			display:none;
		}

		&:before
		{
			float:left;
			background:no-repeat left top;
			width:42px;
			height:43px;
			content:"";
		}
	}
	.service-orange
	{
		.views-field-title:before
		{
			background-image:url(../images/services-medium-arboriculture.png);
		}
		.views-field-body ul li
		{
			background-image:url(../images/bullet-color-arboriculture.png);
		}
	}
	.service-green
	{
		.views-field-title:before
		{
			background-image:url(../images/services-medium-lawn.png);
		}
		.views-field-body ul li
		{
			background-image:url(../images/bullet-color-lawn.png);
		}
	}
	.service-blue
	{
		.views-field-title:before
		{
			background-image:url(../images/services-medium-snow.png);
		}
		.views-field-body ul li
		{
			background-image:url(../images/bullet-color-snow.png);
		}
	}
	.service-red
	{
		.views-field-title:before
		{
			background-image:url(../images/services-medium-fencing.png);
		}
		.views-field-body ul li
		{
			background-image:url(../images/bullet-color-fencing.png);
		}
	}

	.views-field-field-titles 
	{
		padding-left:377px;
		font-size:14px;

		ul 
		{
			margin:0;
			list-style:none;

			li 
			{
				list-style:none;
				display:inline-block;
				padding-right:6px;
				margin:0 2px 0 0;
				border-right:1px solid black;
				line-height:100%;

				&.last 
				{
					border-right:0;
				}
			}
		}
	}

	.views-field-body 
	{
		margin-top:20px;
		font-size:14px;
		line-height:125%;

		ul
		{
			list-style:none;
			margin-left:15px;

			li 
			{
				list-style:none;
				background:no-repeat left top;
				padding-left:20px;
				margin-bottom:3px;
			}
		}
	}
}

#block-views-team-members-block-header
{
	text-align:center; 

	.views-row 
	{
		display:inline-block;
		vertical-align:top;
		width:148px;
		margin:10px 2px;
	}

	.views-field-field-photo img 
	{
		width:80px;
		height:80px;
		border-radius:10px;
	}

	.views-field-title 
	{
		h2 
		{
			background:none;
			padding:0;
			margin:0;
			font-size:18px;
		}

		p, br 
		{
			display:none;
		}
	}

	.views-field-field-titles ul 
	{
		list-style:none;
		margin:0;
		padding:0;

		li 
		{
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;
			font-size:14px;
			line-height:120%;
		}
	}
}

.view-homepage-carousel
{
	position:relative;
	box-shadow:0 0 20px rgba(0,0,0,0.8) inset;

	&:before
	{
		content:"";
		position:absolute;
		left:0;
		top:0;
		width:50%;
		height:100%;
		opacity:0.5;
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}

	.views-row
	{
		display:none;

		&.active 
		{
			display:block;
		}
	}

	.views-field-nothing 
	{
		position:absolute;
		top:0;
		left:40px;
		right:40px;
		color:white;
		height:100%;

		.views-field-title,
		.views-field-body 
		{
			max-width:500px;
			width:100%;
			text-shadow:1px 1px 3px black;
		}

		.views-field-title
		{
			font-weight:bold;
			font-size:48px;
			margin-bottom:5px;
		}
		.views-field-body 
		{
			font-size:24px;
			font-weight:400;
			line-height:150%;
		}

		& > div 
		{
			width:100%;
			height:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
				height:100%;

				& > div 
				{
					display:table;
					height:100%;

					& > div 
					{
						display:table-cell;
						vertical-align:middle;
					}
				}
			}
		}
	}

	.views-field-field-photo img 
	{
		width:100%;
		height:auto;
		display:block;
	}

	#carousel-arrow-left
	{
		display:block;
		position:absolute;
		left:10px;
		top:50%;
		height:53px;
		margin-top:-27px;
	}
	#carousel-arrow-right
	{
		display:block;
		position:absolute;
		right:10px;
		top:50%;
		height:53px;
		margin-top:-27px;
	}
}

.block--service-menu
{
	padding-top: 25px;
	clear: left;
	float: left;
	max-width: 580px;
	width: 55%;
	
	&
	{
		@media screen and (max-width: 720px)
		{
			width: auto;
			float: none;
		}
	}
	
	h2
	{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.75em;
		margin-bottom: 0.4em;
	}
	.menu
	{
		list-style: none;
		
		li
		{
			padding: 0;
			margin: 0 -4px 0.8em 0;
			width: 45%;
			padding-right: 5%;
			display: inline-block;
			
			&
			{
				@media screen and (max-width: 480px)
				{
					width: auto;
					float: none;
					margin: 0 0 0.8em 0;
					padding-right: 0;
					display: block;
				}
			}
		}
		a
		{
			display: block;
			text-decoration: underline;
			font-size: 17px;
			font-weight: 500;
		}
		.active
		{
			font-weight: bold;
		}
	}
}
.node-type-service-description
{
	.region-content
	{
		max-width: 1180px;
		padding: 40px 25px;
		margin: 0 auto;
	}
	.node.clearfix:after
	{
		display: none;
	}
	.field-name-body
	{
		width: 55%;
		float: left;
		margin-right: 5%;
		font-size: 18px;
		font-weight: 300;
		
		@media screen and (max-width: 720px)
		{
			width: auto;
			float: none;
			margin-right: 0;
		}
	}
	.field-name-field-service-photos
	{
		width: 38%;
		float: right;
		
		&
		{
			@media screen and (max-width: 720px)
			{
				width: auto;
				float: none;
				padding-top: 25px;
				max-width: 420px;
				margin: 0 auto;
			}
		}
		
		img
		{
			display: block;
			width: 100% !important;
			height: auto !important;
		}
		.field-item
		{
			margin-bottom: 2em;
		}
	}
	.block--request-quote
	{
		padding-top: 25px;
		clear: left;
		max-width: 620px;
		width: 55%;
		
		&
		{
			@media screen and (max-width: 720px)
			{
				width: auto;
			}
		}
		
		h2
		{
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.75em;
		}
		label
		{
			float: none;
			width: auto;
			padding-right: 0;
			font-size: 18px;
		}
		input[type=text],
		input[type=email]
		{
			border-color: black;
			height: 42px;
			box-sizing: border-box;
			line-height: 40px;
			border-radius: 4px;
			width: 100%;
		}
		.form-textarea-wrapper
		{
			width: 100%;
			display: block;
		}
		textarea
		{
			border-color: black;
			border-radius: 4px;
			width: 100%;
			box-sizing: border-box;
		}
		input[type=submit]
		{
			background: #af0b2b;
		}
		#webform-component-name,
		#webform-component-email
		{
			float: left;
			width: 48%;
			margin-right: 4%;
			clear: left;
			
			@media screen and (max-width: 720px)
			{
				float: none;
				width: auto;
				margin-right: 0;
			}
		}
		#webform-component-phone,
		#webform-component-address
		{
			float: left;
			width: 48%;
			
			@media screen and (max-width: 720px)
			{
				float: none;
				width: auto;
			}
		}
		.form-actions
		{
			margin-left: 0;
		}
	}
}
body.service-orange
{
	.block--service-menu .menu a,
	.field-name-field-service-photos
	{
		color: $color-orange;
	}
}
body.service-blue
{
	.block--service-menu .menu a,
	.field-name-field-service-photos
	{
		color: $color-blue;
	}
}
body.service-green
{
	.block--service-menu .menu a,
	.field-name-field-service-photos
	{
		color: $color-green;
	}
}
body.service-red
{
	.block--service-menu .menu a,
	.field-name-field-service-photos
	{
		color: $color-red;
	}
}
.node-type-service-category-page
{
	.region-content
	{
		max-width: 1180px;
		padding: 40px 25px;
		margin: 0 auto;
		
		&:after
		{
			content: "";
			display: block;
			clear: both;
		}
	}
	.node.clearfix:after
	{
		display: none;
	}
	.field-name-body
	{
		width: 48%;
		float: left;
		margin-right: 4%;
		font-size: 18px;
		font-weight: 300;
		
		@media screen and (max-width: 720px)
		{
			width: auto;
			float: none;
			margin-right: 0;
		}
	}
	.block--service-menu
	{
		float: right;
		width: 48%;
		clear: none;
		padding-top: 0;
		
		@media screen and (max-width: 720px)
		{
			width: auto;
			float: none;
			padding-top: 25px;
		}
	}
}
.block--service-category-photos
{
	position: relative;
	border-bottom: 1px solid white;
	
	.field-item
	{
		background: black;
		box-sizing: border-box;
		border: 1px solid white;
	}
	img
	{
		display: block;
		width: 100% !important;
		height: auto !important;
		opacity: 0.6;
		transition: opacity 0.3s;
	}
	.slick-center img
	{
		opacity: 1;
	}
	.slick-arrow
	{
		border: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		top: 50%;
		width: 30px;
		height: 53px;
		margin-top: -27px;
		z-index: 1;
		font-size: 0;
		cursor: pointer;
		appearance: none;
		-webkit-appearance: none;
	}
	.slick-prev
	{
		background-image: url(../images/arrow-left.png);
		left: 10%;
		margin-left: -15px;
	}
	.slick-next
	{
		background-image: url(../images/arrow-right.png);
		right: 10%;
		margin-right: -15px;
	}
}

.view-associations
{
	max-width: 1180px;
	padding: 25px;
	margin: 0 auto;
	
	.field-name-field-photo
	{
		float: left;
		width: 33.333%;
		margin-right: 2.666%;
		text-align: center;
		
		&
		{
			@media screen and (max-width: 540px)
			{
				float: none;
				width: auto;
				margin: 0 auto 20px auto;
				max-width: 360px;
			}
		}

		img
		{
			display: inline-block;
			max-width: 100%;
			height: auto;
		}
	}
	.content
	{
		float: left;
		width: 64%;

		@media screen and (max-width: 540px)
		{
			float: none;
			width: auto;
		}
	}
	h2
	{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.35em;
		margin-bottom: 1em;
	}
	.field-name-body
	{
		font-size: 18px;
		font-weight: 300;
	}
	.views-row
	{
		padding: 30px 0;
		border-bottom: 2px solid $color-green;
		
		&:after
		{
			content: "";
			display: block;
			clear: both;
		}
	}
	.views-row-last
	{
		border-bottom: 0;
	}
}

.sitemap #content
{
	max-width: 1180px;
	padding: 25px;
	margin: 0 auto;
}
#site-map h2
{
	padding: 0;
	background: none;
	text-align: left;
}


















@media screen and (max-width:820px)
{
	.field-name-field-title-description
	{
		font-size:15px!important;
	}

	.view-homepage-services
	{
		.views-row h2
		{
			font-size:24px;
		}
	}

	body.contact-us #block-system-main
	{
		.left,
		.right 
		{
			float:none;
			width:auto;
			margin-right:0;
		}
	}

	.form-actions
	{
		margin-left:0;
		text-align:center;
	}
}



@media screen and (max-width:640px)
{
	.view-homepage-carousel .views-field-nothing
	{
		.views-field-title
		{
			font-size:20px;
		}

		.views-field-body 
		{
			font-size:14px;
			line-height:130%;
		}

		& > div > div
		{
			padding-left:10px;
			padding-right:10px;
		}
	}

	body.page-node.node-type-page,
	body.node-type-webform
	{
		#block-system-main > .content > div > *.field-name-title h1
		{
			font-size:24px;
		}
	}

	#block-views-team-members-block-header
	{
		.views-row
		{
			width:132px;
		}

		.views-field-title h2
		{
			font-size:16px;
		}

		.views-field-field-titles ul li
		{
			font-size:12px;
		}
	}

	#block-views-team-members-block
	{
		.views-row
		{
			padding:30px 0;
		}

		.views-field-field-photo
		{
			text-align:center;

			img
			{
				float:none;
				margin-right:0;
				width:200px;
				height:auto;
			}
		}

		.views-field-title,
		.views-field-body
		{
			padding-left:0;
		}

		.views-field-field-titles
		{
			padding-left:57px;
			margin-top:5px;

			ul li 
			{
				display:block;
				border-right:0;
			}
		}
	}
}



@media screen and (max-width:540px)
{
	.view-homepage-services .icons ul li 
	{
		margin:0;

		img 
		{
			width:65px;
		}
	}

	#carousel-arrow-right,
	#carousel-arrow-left
	{
		margin-top:-14px;

		img 
		{
			width:20px;
		}
	}

	.view-homepage-carousel .views-field-nothing
	{
		left:30px;
		right:30px;
	}
}

