$color-arboriculture:#f6881f;
$color-snow:#0e76bc;
$color-lawn:#035b31;
$color-fencing:#af0b2b;
$color-residential:#231f20;


*
{
	margin:0;
	padding:0;
}

body 
{
	font-family:"DDT", sans-serif;
	font-size:16px;
	-webkit-font-smoothing:antialiased;
}

a 
{
	color:#0e76bc;
	text-decoration:none;

	&:hover 
	{
		text-decoration:underline;
	}
}

label 
{
	font-weight:400;
	width:180px;
	padding-right:10px;
	float:left;
	clear:left;

	.form-required
	{
		color:#b61239;
	}
}

.description 
{
	display:none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
{
	background-color:rgba(255,255,255,0.85);
	border:1px solid #ccc;
	padding:0 5px!important;
	line-height:24px;
	font-size:15px;
	font-weight:400;
	width:180px;
	border-radius:6px;
	color:#666;
	font-family:"DDT", sans-serif;
}

textarea
{
	background-color:rgba(255,255,255,0.85);
	border:1px solid #ccc;
	padding:0 5px!important;
	font-size:15px;
	font-weight:400;
	width:180px!important;
	border-radius:6px;
	color:#666;
	font-family:"DDT", sans-serif;
	box-sizing:initial!important;
}

input[type=submit]
{
	background-color:#bb1745;
	border:0;
	border-radius:9px;
	padding:13px;
	color:white;
	font-family:"DDT", sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
}

.form-actions
{
	margin-left:190px;
}

.clearfix 
{
	clear:both;
}


#block-system-main
{
	line-height:160%;

	p 
	{
		margin-bottom:0.8em;
	}

	ul, ol 
	{
		margin:10px 0 10px 30px;
	}

	img 
	{
		max-width:100%;
	}

	h2 
	{
		font-weight:bold;
		text-align:center;
		padding-top:25px;
		background:url(../images/seasons-footer.png) no-repeat center top;
		margin:15px 0;
	}

	h3 
	{
		font-weight:500;
		margin:10px 0;
	}

	.left 
	{
		float:left;
		width:48%;
		margin-right:4%;
	}

	.right
	{
		float:right;
		width:48%;
	}
}

#navigation,
#widgets,
#footer
{
	clear:left;

	& > div 
	{
		width:100%;
		max-width:980px;
		margin:0 auto;

		& > div 
		{
			padding-left:20px;
			padding-right:20px;
		}
	}
}

#navigation
{
	padding:15px 0;
}

#logo 
{
	float:left;
	display:block;

	img 
	{
		vertical-align:middle;
		width:299px;
		max-width:100%;
	}
}

#block-system-main-menu
{
	float:right;

	.content > ul 
	{
		list-style:none;

		& > li 
		{
			list-style:none;
			display:inline-block;
			padding:0;
			margin:0;
			position:relative;

			& > a 
			{
				text-transform:uppercase;
				font-weight:500;
				font-size:18px;
				color:black;
				text-decoration:none;
				padding:20px 15px 12px 15px;
				display:block;
				min-width:42px;

				&.facebook,
				&:hover.facebook
				{
					font-size:0;
					color:transparent;
					width:27px;
					min-width:0;
					display:block;
					background:url(../images/facebook.png) no-repeat right top;
				}
			}

			&.last a 
			{
				padding-right:0;
			}

			&:hover
			{
				& > a
				{
					background:url(../images/seasons-menu.png) no-repeat center top;
				}

				& > ul 
				{
					display:block;
				}
			}

			&.expanded:hover
			{
				&:after
				{
					content:" ";
					display:block;
					position:absolute;
					bottom:-1px;
					left:50%;
					margin-left:-8px;
					width:17px;
					height:9px;
					background:url(../images/menu-arrow.png) no-repeat;
					z-index:10001;
				}
			}

			& > ul 
			{
				display:none;
				position:absolute;
				top:100%;
				left:-20px;
				z-index:1000;
				width:290px;
				background-color:white;
				border:1px solid #cfcfcf;
				border-radius:10px;
				list-style:none;

				& > li 
				{
					list-style:none;
					margin:0;
					padding:0;

					& > a 
					{
						display:block;
						line-height:36px;
						color:black;
						text-decoration:none;
						border-bottom:1px solid #EAEAEA;
						padding:0 10px;

						&:hover
						{
							font-weight:500;
						}

						&.arboriculture,
						&.lawn,
						&.snow-and-ice,
						&.fencing,
						&.residential
						{
							padding-left:36px;
							background:no-repeat 8px center;
						}

						&.arboriculture
						{
							background-image:url(../images/menu-arboriculture.png);

							&:hover
							{
								color:$color-arboriculture;
							}
						}
						&.lawn
						{
							background-image:url(../images/menu-lawn.png);

							&:hover
							{
								color:$color-lawn;
							}
						}
						&.snow-and-ice
						{
							background-image:url(../images/menu-snow-and-ice.png);

							&:hover
							{
								color:$color-snow;
							}
						}
						&.fencing
						{
							background-image:url(../images/menu-fencing.png);

							&:hover
							{
								color:$color-fencing;
							}
						}
						&.residential
						{
							background-image:url(../images/menu-residential.png);

							&:hover
							{
								color:$color-residential;
							}
						}
					}

					&.last > a 
					{
						border-bottom:0;
					}
				}
			}
		}
	}
}

#block-block-1
{
	.content 
	{
		color:#af0b2b;
		font-size:30px;
		font-weight:bold;
		text-align:center;
		float:right;

		a.request-quote
		{
			color:white;
			font-size:24px;
			font-weight:bold;
			padding:16px;
			display:block;
			text-align:center;
			border-radius:10px;
			background:#af0b2b;
			text-transform:uppercase;
			text-decoration:none;
		}

		.phone a
		{
			color:#af0b2b!important;
		}
	}
}

#header 
{
	img
	{
		display:block;
		width:100%!important;
		height:auto!important;
	}

	.block 
	{
		position:relative;
		overflow:hidden;
	}

	.block:before
	{
		content:"";
		position:absolute;
		left:0;
		top:0;
		width:1000%;
		height:100%;
		margin-left:-50px;
		box-shadow:0 0 10px black inset;
		z-index:1;
	}
}

#footer
{
	text-align:center;

	#copyright
	{
		font-size:12px;
		margin-bottom:3px;

		span 
		{
			font-family:sans-serif;
		}
	}
	#site-by-cci
	{
		font-size:12px;
		margin-bottom:40px;

		a 
		{
			color:black;
			text-decoration:none;

			&:hover
			{
				text-decoration:underline;
			}
		}
	}

	#block-menu-menu-footer-menu
	{
		.content > ul
		{
			list-style:none;
			display:inline-block;
			margin-bottom:20px;
			margin-top:20px;
			text-align:center;

			li 
			{
				list-style:none;
				padding:0;
				margin:0;
				display:inline-block;

				a 
				{
					display:inline-block;
					padding:0 10px 0 5px;
					margin:0;
					border-right:1px solid black;
					line-height:100%;
					font-size:13px;
					text-transform:uppercase;
					text-decoration:none;
					color:black;

					&:hover
					{
						text-decoration:underline;
					}
				}

				&.last a 
				{
					border-right:0;
				}
			}
		}
	}

	#block-block-2,
	#block-block-3
	{
		font-size:16px;
		margin-bottom:20px;
		text-align:center;
		line-height:100%;
	}
}

body.page-say-work,
body.node-type-photo-album,
body.page-user
{
	#page-title
	{
		background:black;
		color:white;
		text-align:center;
		padding-top:22px;
		padding-bottom:22px;
		font-size:36px;
		font-weight:500;
	}

	#block-system-main
	{
		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
			}
		}
	}
}

.view-photo-gallery 
{
	h3 
	{
		font-size:24px;
		font-weight:700!important;
		margin:30px 0!important;
		clear:both;
	}

	.group 
	{
		margin-bottom:15px;
		margin-right:-20px;
		border-bottom:1px solid #cccccc;
		clear:both;
		overflow:hidden;
	}

	.views-row 
	{
		float:left;
		text-align:center;
		margin-right:20px;
		margin-bottom:45px;
		line-height:normal;
		font-weight:400;
	}

	.views-field-field-images
	{
		position:relative;

		a 
		{
			display:block;
			height:220px;
			position:relative;

			&:before
			{
				content:" ";
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				box-shadow:0 0 40px rgba(0,0,0,0.35) inset;
				z-index:1;
				border-radius:12px;
			}
		}

		img 
		{
			border-radius:12px;
		}
	}
	
	.views-field-title
	{
		font-weight:500;
		margin-top:8px;
	}
}

.view-photo-gallery-page
{

	ul
	{
		margin:0 -20px 20px 0 !important;

		li
		{
			float:left;
			margin:20px 20px 0 0;
			padding:0;
			list-style:none;
		}
	}

	.views-field-field-images
	{
		position:relative;

		a 
		{
			display:block;
			height:220px;
			position:relative;

			&:before
			{
				content:" ";
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				box-shadow:0 0 40px rgba(0,0,0,0.35) inset;
				z-index:1;
				border-radius:12px;
			}
		}

		img 
		{
			border-radius:12px;
		}
	}
}



body.page-node.node-type-page,
body.node-type-webform
{
	#page-title
	{
		display:none;
	}

	#main-wrapper
	{
		& > div 
		{
			width:auto;
			max-width:none;
			margin:0;

			& > div 
			{
				padding-left:0;
				padding-right:0;
			}
		}
	}

	#block-system-main > .content > div > *
	{
		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
			}
		}

		&.field-name-title
		{
			background:black;
			color:white;
			text-align:center;
			padding-top:22px;
			padding-bottom:22px;

			h1
			{
				font-size:36px;
				font-weight:500;
				line-height:120%;
			}
		}
		&.field-name-field-title-description
		{
			background:black;
			color:white;
			text-align:center;
			font-size:18px;
			font-weight:400;
			padding-bottom:22px;
			margin-top:-10px;
			line-height:normal;
		}

		&.field-name-body 
		{
			padding-top:20px;
		}
	}
}
body.page-node.node-type-page .field-name-body
{
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}

body.services .field-name-body .field-item > p 
{
	display:none;
}

body.page-node-3 #block-system-main,
#block-system-main .view-services-listing
{
	& > .content > .node-page > .field.field-name-body
	{
		padding-top:0!important;

		& > div 
		{
			width:auto;
			max-width:inherit;
			margin:0;

			& > div 
			{
				padding-left:0;
				padding-right:0;
			}
		}
	}

	.service,
	.views-row
	{
		clear:both;
		color:white;
		font-weight:400;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
		box-shadow:0 0 12px rgba(0,0,0,0.25) inset;
		border-top:2px solid white;
		line-height:normal;
		background:url(../images/services-bg-highlight.png) no-repeat center bottom;

		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding:38px 20px;
				overflow:hidden;
			}
		}

		h2 
		{
			background:none;
			text-transform:uppercase;
			font-size:30px;
			text-align:left;
			font-weight:500;
			padding:0;
			margin-bottom:20px;
			margin-top:-4px;
			line-height:90px;
			display:inline-block;

			&:before
			{
				float:left;
				content:"";
				display:inline-block;
				vertical-align:middle;
				height:89px;
				width:89px;
				margin-right:11px;
			}
		}

		img 
		{
			border-radius:16px;
			border:2px solid white;
		}

		a 
		{
			font-weight:bold;
			text-transform:uppercase;
			color:white;
			text-align:center;
			display:block;
			position:relative;
			top:10px;
		}

		&.arboriculture,
		&.Arboriculture
		{
			background-color:#f6881f;

			& > div > div 
			{
				background:url(../images/services-bg-arboriculture.png) no-repeat 15% center;
			}

			h2:before
			{
				background:url(../images/services-icon-arboriculture.png) no-repeat left center;
			}

			img 
			{
				margin-left:40px;
				float:right;
			}
		}
		&.snow-and-ice,
		&.Snow-and-Ice
		{
			background-color:#0e76bc;

			& > div > div 
			{
				background:url(../images/services-bg-snow-and-ice.png) no-repeat 85% center;
			}

			h2:before
			{
				background:url(../images/services-icon-snow-and-ice.png) no-repeat left center;
			}

			img 
			{
				margin-right:40px;
				float:left;
			}
		}
		&.lawn,
		&.Lawn-and-Landscape
		{
			background-color:#035b31;

			& > div > div 
			{
				background:url(../images/services-bg-lawn.png) no-repeat 15% center;
			}

			h2:before
			{
				background:url(../images/services-icon-lawn.png) no-repeat left center;
			}

			img 
			{
				margin-left:40px;
				float:right;
			}
		}
		&.fencing,
		&.Fencing-and-Security
		{
			background-color:#af0b2b;

			& > div > div 
			{
				background:url(../images/services-bg-fencing.png) no-repeat 85% bottom;
			}

			h2:before
			{
				background:url(../images/services-icon-fencing.png) no-repeat left center;
			}

			img 
			{
				margin-right:40px;
				float:left;
			}
		}
		&.residential,
		&.Residential
		{
			background-color:#000000;

			& > div > div 
			{
				background:url(../images/services-bg-residential.png) no-repeat 15% top;
			}

			h2:before
			{
				background:url(../images/services-icon-residential.png) no-repeat left center;
			}

			img 
			{
				margin-left:40px;
				float:right;
			}
		}
	}
}

.view-homepage-services,
.view-services-pages
{
	.icons ul 
	{
		list-style:none;
		text-align:center;
		padding:0;
		margin:0!important;

		li 
		{
			list-style:none;
			display:inline-block;
			padding:0;
			margin:0 6px;
			background:none!important;

			img 
			{
				border-radius:20px;
				box-shadow:0 0 8px rgba(0,0,0,0.3);
				position:relative;
			}
		}
	}

	.views-row
	{
		display:none;
		color:white;
		font-weight:400;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
		text-align:center;
		box-shadow:0 0 11px rgba(0,0,0,0.4) inset;
		background:url(../images/services-bg-highlight.png) no-repeat center bottom;
		border-top:2px solid white;

		& > div 
		{
			width:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding:40px 20px;
				overflow:hidden;
				position:relative;
			}
		}

		h2 
		{
			text-transform:uppercase;
			font-weight:500!important;
			font-size:30px;
			margin:30px 0!important;
			background:none!important;
			padding-top:0!important;
			line-height:125%;
		}

		ul 
		{
			list-style:none;
		}

		li 
		{
			padding-left:35px;
			text-align:left;
			list-style:none;
			line-height:160%;

			a 
			{
				color:white;
				text-decoration:none;

				&:hover 
				{
					text-decoration:underline;
				}
			}

			strong 
			{
				font-weight:500;
			}
		}

		.views-field-body 
		{
			font-size:18px;
			margin-bottom:10px;

			p 
			{
				margin-bottom:0.8em;
			}
		}

		.views-field-field-column-1,
		.views-field-field-column-2,
		.views-field-field-column-3
		{
			float:left;
			font-size:16px;
			margin-bottom:30px;
			width:32%;
			margin-right:2%;
		}

		.views-field-field-column-3
		{
			margin-right:0;
		}

		.views-field-field-image-1 
		{
			clear:left;
		}
		.views-field-field-image-4
		{
			margin-right:0!important;
		}

		.views-field-field-image-1,
		.views-field-field-image-2,
		.views-field-field-image-3,
		.views-field-field-image-4
		{
			float:left;
			width:23.5%;
			margin-right:2%;

			a 
			{
				display:block;

				img 
				{
					width:100%!important;
					height:auto!important;
					border-radius:14px;
					border:2px solid white;
					box-sizing:border-box;
				}
			}

			& > div 
			{
				margin:0 -2px;
			}
		}

		&.Arboriculture
		{
			background-color:#f6881f;
			display:block;

			& > div 
			{
				background:url(../images/services-bg-arboriculture.png) no-repeat center bottom;
			}

			.icons .arboriculture
			{
				display:inline-block;

				img
				{
					border:2px solid white;
					margin:-2px;
				}
			}

			li 
			{
				background:url(../images/bullet-arboriculture.png) no-repeat left top;
			}
		}
		&.Snow-and-Ice
		{
			background-color:#0e76bc;

			& > div 
			{
				background:url(../images/services-bg-snow-and-ice.png) no-repeat center center;
			}

			.icons .snow-and-ice
			{
				display:inline-block;

				img
				{
					border:2px solid white;
					margin:-2px;
				}
			}

			li 
			{
				background:url(../images/bullet-snow.png) no-repeat left top;
			}
		}
		&.Lawn-and-Landscape
		{
			background-color:#035b31;

			& > div 
			{
				background:url(../images/services-bg-lawn.png) no-repeat center center;
			}

			.icons .lawn
			{
				display:inline-block;

				img
				{
					border:2px solid white;
					margin:-2px;
				}
			}

			li 
			{
				background:url(../images/bullet-lawn.png) no-repeat left top;
			}
		}
		&.Fencing-and-Security
		{
			background-color:#af0b2b;

			& > div 
			{
				background:url(../images/services-bg-fencing.png) no-repeat center center;
			}

			.icons .fencing
			{
				display:inline-block;

				img
				{
					border:2px solid white;
					margin:-2px;
				}
			}

			li 
			{
				background:url(../images/bullet-fencing.png) no-repeat left top;
			}
		}
		&.Residential
		{
			background-color:#000000;

			& > div 
			{
				background:url(../images/services-bg-residential.png) no-repeat center center;
			}

			.icons .residential
			{
				display:inline-block;

				img
				{
					border:2px solid white;
					margin:-2px;
				}
			}

			li 
			{
				background:url(../images/bullet-residential.png) no-repeat left top;
			}
		}
	}
}
.view-services-pages
{
	.icons ul li 
	{
		display:none;
	}

	.icons.small 
	{
		position:absolute;
		left:20px;

		ul li 
		{
			display:inline-block;
			margin:0 1px;

			img 
			{
				width:26px;
				height:26px;
				border-radius:4px;
				box-shadow:none;
			}
		}
	}

	.views-row 
	{
		display:block;

		&.Arboriculture .icons.small .arboriculture,
		&.Snow-and-Ice .icons.small .snow-and-ice,
		&.Lawn-and-Landscape .icons.small .lawn,
		&.Fencing-and-Security .icons.small .fencing
		{
			img 
			{
				margin:-1px;
				border:1px solid white;
			}
		}
	}
}

body.services
{
	.view-header h1
	{
		background:black;
		color:white;
		text-align:center;
		padding-top:22px;
		padding-bottom:22px;
		font-size:36px;
		font-weight:500;
		border-bottom:2px solid white;
	}
	#page-title
	{
		background:black;
		color:white;
		text-align:center;
		padding-top:22px;
		padding-bottom:22px;
		font-size:36px;
		font-weight:500;
	}
}

#block-views-team-members-block
{
	.views-row 
	{
		clear:both;
		padding:60px 0;
		border-top:1px solid #ccc;
	}

	h2 
	{
		background:none;
		padding-top:0;
		text-align:left;
		margin:0;
		font-size:24px;
		font-weight:bold;
	}

	.views-field-field-photo img 
	{
		float:left;
		border-radius:10px;
		margin-right:20px;
	}

	.views-field-title,
	.views-field-body
	{
		padding-left:320px;
	}

	.views-field-title
	{
		h2 
		{
			padding-left:57px;
		}

		p, br 
		{
			display:none;
		}

		&:before
		{
			float:left;
			background:no-repeat left top;
			width:42px;
			height:43px;
			content:"";
		}

		&.Arboriculture:before
		{
			background-image:url(../images/services-medium-arboriculture.png);
		}
		&.Lawn-and-Landscape:before
		{
			background-image:url(../images/services-medium-lawn.png);
		}
		&.Snow-and-Ice:before
		{
			background-image:url(../images/services-medium-snow.png);
		}
		&.Fencing-and-Security:before
		{
			background-image:url(../images/services-medium-fencing.png);
		}
	}

	.views-field-field-titles 
	{
		padding-left:377px;
		font-size:14px;

		ul 
		{
			margin:0;
			list-style:none;

			li 
			{
				list-style:none;
				display:inline-block;
				padding-right:6px;
				margin:0 2px 0 0;
				border-right:1px solid black;
				line-height:100%;

				&.last 
				{
					border-right:0;
				}
			}
		}
	}

	.views-field-body 
	{
		margin-top:20px;
		font-size:14px;
		line-height:125%;

		ul
		{
			list-style:none;
			margin-left:15px;

			li 
			{
				list-style:none;
				background:no-repeat left top;
				padding-left:20px;
				margin-bottom:3px;
			}
		}

		&.Arboriculture ul li
		{
			background-image:url(../images/bullet-color-arboriculture.png);
		}
		&.Lawn-and-Landscape ul li
		{
			background-image:url(../images/bullet-color-lawn.png);
		}
		&.Snow-and-Ice ul li
		{
			background-image:url(../images/bullet-color-snow.png);
		}
		&.Fencing-and-Security ul li
		{
			background-image:url(../images/bullet-color-fencing.png);
		}
	}
}

#block-views-team-members-block-header
{
	text-align:center; 

	.views-row 
	{
		display:inline-block;
		vertical-align:top;
		width:148px;
		margin:10px 2px;
	}

	.views-field-field-photo img 
	{
		width:80px;
		height:80px;
		border-radius:10px;
	}

	.views-field-title 
	{
		h2 
		{
			background:none;
			padding:0;
			margin:0;
			font-size:18px;
		}

		p, br 
		{
			display:none;
		}
	}

	.views-field-field-titles ul 
	{
		list-style:none;
		margin:0;
		padding:0;

		li 
		{
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;
			font-size:14px;
			line-height:120%;
		}
	}
}

.view-homepage-carousel
{
	position:relative;
	box-shadow:0 0 20px rgba(0,0,0,0.8) inset;

	&:before
	{
		content:"";
		position:absolute;
		left:0;
		top:0;
		width:50%;
		height:100%;
		opacity:0.5;
		background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	}

	.views-row
	{
		display:none;

		&.active 
		{
			display:block;
		}
	}

	.views-field-nothing 
	{
		position:absolute;
		top:0;
		left:40px;
		right:40px;
		color:white;
		height:100%;

		.views-field-title,
		.views-field-body 
		{
			max-width:500px;
			width:100%;
			text-shadow:1px 1px 3px black;
		}

		.views-field-title
		{
			font-weight:bold;
			font-size:48px;
			margin-bottom:5px;
		}
		.views-field-body 
		{
			font-size:24px;
			font-weight:400;
			line-height:150%;
		}

		& > div 
		{
			width:100%;
			height:100%;
			max-width:980px;
			margin:0 auto;

			& > div 
			{
				padding-left:20px;
				padding-right:20px;
				height:100%;

				& > div 
				{
					display:table;
					height:100%;

					& > div 
					{
						display:table-cell;
						vertical-align:middle;
					}
				}
			}
		}
	}

	.views-field-field-photo img 
	{
		width:100%;
		height:auto;
		display:block;
	}

	#carousel-arrow-left
	{
		display:block;
		position:absolute;
		left:10px;
		top:50%;
		height:53px;
		margin-top:-27px;
	}
	#carousel-arrow-right
	{
		display:block;
		position:absolute;
		right:10px;
		top:50%;
		height:53px;
		margin-top:-27px;
	}
}

#block-block-5
{
	display:none;
	vertical-align:top;
	margin-right:10px;
}










@media screen and (max-width:976px)
{
	#block-system-main .view-services-listing .views-row h2
	{
		font-size:24px;
	}
}



@media screen and (max-width:876px)
{
	#block-system-main-menu .content
	{
		& > ul > li > a
		{
			font-size:14px;
			padding-left:10px;
			padding-right:10px;
		}
	}

	#block-system-main .view-services-listing .views-row
	{
		text-align:center;

		img 
		{
			float:none!important;
			margin-left:0!important;
		}

		h2 
		{
			display:block;
			text-align:center;

			&:before
			{
				float:none;
			}
		}
	}
}



@media screen and (max-width:768px), screen and (max-width:1024px) and (orientation:landscape)
{
	.field-name-field-title-description
	{
		font-size:15px!important;
	}

	.view-homepage-services, .view-services-pages
	{
		.views-row h2
		{
			font-size:24px;
		}
	}

	#logo
	{
		float:none;

		img 
		{
			margin:0 auto;
			display:block;
		}
	}

	#block-block-1 
	{
		display:inline-block;

		.content
		{
			float:none;
			margin-top:15px;
			font-size:18px;

			a.request-quote
			{
				padding:12px;
				font-size:18px;
			}
		}
	}

	#block-system-main-menu
	{
		display:none;
		float:none;
		height:auto;
		position:absolute;
		left:20px;
		right:20px;
		z-index:1000;
		background:white;
		border-radius:10px;
		border:1px solid #ccc;
		margin-top:0;

		& > .content > ul > li 
		{
			display:block;
			padding-bottom:0;


			&:hover > a
			{
				background:none;
			}

			&.expanded:hover
			{
				&:after
				{
					display:none;
				}
			}

			& > a 
			{
				line-height:40px;
				border-bottom:1px solid #f5f5f5;
				border-top:1px solid #d6d6d6;
				font-weight:bold;
				display:block;
				padding:0 0 0 10px;

				&.facebook,
				&.facebook:hover
				{
					display:block;
					width:auto;
					background-position:10px center;
				}
			}

			&.first > a
			{
				border-top:0;
			}
			&.last > a
			{
				border-bottom:0;
			}

			& > ul 
			{
				display:block;
				position:static;
				width:auto;
				border:0;
				border-radius:0;


				li 
				{
					line-height:40px;
					font-weight:normal;
					display:block;
					padding-top:0;
					padding-bottom:0;

					a 
					{
						line-height:40px;
						border-bottom:1px solid #f5f5f5;
						border-top:1px solid #d6d6d6;
						padding-left:20px;

						&.arboriculture,
						&.lawn,
						&.snow-and-ice,
						&.fencing,
						&.residential
						{
							padding-left:48px;
							background-position:20px center
						}
					}
				}
			}
		}
	}
	body.menu-open #block-system-main-menu
	{
		display:block;
	}

	#block-block-5
	{
		display:inline-block;
		margin-top:15px;
		position:relative;
	}
	body.menu-open #block-block-5
	{
		&:after
		{
			content:"";
			position:absolute;
			top:100%;
			left:50%;
			margin-left:-8px;
			margin-top:10px;
			width:17px;
			height:9px;
			z-index:1001;
			background:url(../images/menu-arrow.png) no-repeat;
		}
	}

	#navigation .region-navigation
	{
		text-align:center;
	}

	body.contact-us #block-system-main
	{
		.left,
		.right 
		{
			float:none;
			width:auto;
			margin-right:0;
		}
	}

	.form-actions
	{
		margin-left:0;
		text-align:center;
	}
}



@media screen and (max-width:640px)
{
	.view-photo-gallery
	{
		.views-row 
		{
			margin-right:10px;
			width:130px;
		}

		.views-field-field-images a 
		{
			display:inline-block;
			width:100px;
			height:100px;

			img 
			{
				width:100px;
				height:100px;
			}
		}

		.views-field-title,
		.views-field-field-subtitle
		{
			font-size:14px;
		}
	}

	.view-homepage-services,
	.view-services-pages
	{
		.views-row
		{
			.views-field-field-column-1,
			.views-field-field-column-2,
			.views-field-field-column-3
			{
				float:none;
				margin-bottom:0;
				margin-right:0;
				width:auto;

				ul 
				{
					margin-top:0!important;
					margin-bottom:0!important;
				}
			}

			.views-field-field-image-1 
			{
				margin-top:10px;
			}

			.views-field-field-image-1,
			.views-field-field-image-2,
			.views-field-field-image-3,
			.views-field-field-image-4
			{
				float:none;
				width:auto;
				margin-right:0;
				margin-bottom:5px;

				a 
				{

					img 
					{
						width:100%!important;
						height:auto!important;
						max-width:300px!important;
					}
				}
			}
		}
	}

	.view-services-pages .icons.small
	{
		position:static;
		margin-bottom:15px;
	}

	.view-services-pages .views-row
	{
		.icons.small
		{
			display:none;
		}

		&.views-row-1 .icons.small
		{
			display:block;
		}
	}

	.view-homepage-carousel .views-field-nothing
	{
		.views-field-title
		{
			font-size:20px;
		}

		.views-field-body 
		{
			font-size:14px;
			line-height:130%;
		}

		& > div > div
		{
			padding-left:10px;
			padding-right:10px;
		}
	}

	body.page-node.node-type-page,
	body.node-type-webform
	{
		#block-system-main > .content > div > *.field-name-title h1
		{
			font-size:24px;
		}
	}

	#block-views-team-members-block-header
	{
		.views-row
		{
			width:132px;
		}

		.views-field-title h2
		{
			font-size:16px;
		}

		.views-field-field-titles ul li
		{
			font-size:12px;
		}
	}

	#block-views-team-members-block
	{
		.views-row
		{
			padding:30px 0;
		}

		.views-field-field-photo
		{
			text-align:center;

			img
			{
				float:none;
				margin-right:0;
				width:200px;
				height:auto;
			}
		}

		.views-field-title,
		.views-field-body
		{
			padding-left:0;
		}

		.views-field-field-titles
		{
			padding-left:57px;
			margin-top:5px;

			ul li 
			{
				display:block;
				border-right:0;
			}
		}
	}

	#footer #block-menu-menu-footer-menu .content > ul li a
	{
		font-size:12px;
		padding:0 6px 0 2px;
	}
}



@media screen and (max-width:540px)
{
	#block-system-main .view-services-listing .views-row
	{
		h2 
		{
			line-height:normal;
			padding-top:10px;

			&:before
			{
				display:block;
				margin:0 auto;
			}
		}
	}

	.view-homepage-services .icons ul li 
	{
		margin:0;

		img 
		{
			width:65px;
		}
	}

	#carousel-arrow-right,
	#carousel-arrow-left
	{
		margin-top:-14px;

		img 
		{
			width:20px;
		}
	}

	.view-homepage-carousel .views-field-nothing
	{
		left:30px;
		right:30px;
	}
}

